.OurMission {
  .animationMove {
    animation: move 3s infinite ease alternate;
  }

  @keyframes move {
    from {
      transform: translateY(-15px);
    }

    // to {
    //   transform: translateY(0px) scale(1.03);
    // }
  }
}

@media (max-width: 600px) {
  .OurMission {
    .p-10 {
      padding: 5%;
    }
  }
}
